@media (max-width: 767px) {
  .header_bg {
    background-image: linear-gradient(
        rgb(26, 25, 21, 0.15),
        rgb(26, 25, 21, 0.15)
      ),
      url("../img/image/mobile_header_bg.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }

  .header_padding {
    padding-top: 20px;
    padding-bottom: 138px;
  }
  .nav__mob_margin {
    margin-bottom: 128px;
  }

  .header_nav_mr {
    margin-bottom: 28px;
  }
  .header_title_mr {
    margin-bottom: 18px;
  }
  .header_subtext_mr {
    margin-bottom: 18px;
  }
  .section_partners_padding {
    padding-top: 65px;
    padding-bottom: 57px;
  }
  .section_partners_title_mr {
    margin-bottom: 15px;
  }
  .partner_card_block_mr {
    margin-bottom: 28px;
  }
  .partner_card {
    margin: 0 auto 20px;
  }
}

@media (min-width: 768px) {
  .header_bg {
    background-image: linear-gradient(
        rgb(26, 25, 21, 0.15),
        rgb(26, 25, 21, 0.15)
      ),
      url("../img/image/tablet_header_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header_padding {
    padding-top: 42px;
    padding-bottom: 235px;
  }
  .nav_md_reverse {
    flex-direction: row-reverse;
    max-width: 665px;
    margin: 0 auto;
  }
  .header_nav_mr {
    margin-bottom: 154px;
  }
  .header_title {
    font-size: 3.25rem;
  }
  .header__title_subtext {
    font-size: 1.5rem;
  }
  .header_title_mr {
    margin-bottom: 28px;
  }
  .header_subtext_mr {
    margin-bottom: 28px;
  }
  .header_button_find_partners {
    width: 228px;
  }
  .section_partners_padding {
    padding-top: 75px;
    padding-bottom: 40px;
  }

  .section_partners_title_mr {
    margin-bottom: 32px;
  }
  .partner_card_block_mr {
    margin-bottom: 35px;
  }

  .section_button_see_other {
    width: 195px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .partner_card_md_mr:nth-child(odd) {
    margin-right: 20px;
  }
  .partner_card_md_mr:not(:nth-last-child(-n + 2)) {
    margin-bottom: 56px;
  }
}

@media (min-width: 960px) {
  .header_bg {
    background-image: linear-gradient(
        rgb(26, 25, 21, 0.15),
        rgb(26, 25, 21, 0.15)
      ),
      url("../img/image/desktop_header_bg.jpg");
  }
  .nav_md_reverse {
    max-width: 942px;
  }
  .header_title_mr {
    margin-bottom: 36px;
  }
  .header_subtext_mr {
    margin-bottom: 36px;
  }
}
